<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Remote Pointer"
           Manufacturer="Remote Pointer"
           Version="$(ProductVersion)"
           Language="1033"
           UpgradeCode="6E17309C-3CC5-4F34-BE90-387557FC7416"
           Scope="perMachine"
           InstallerVersion="500"
           Compressed="yes">
    <SummaryInformation Description="Side-band pointer client for Windows 11"
                        Manufacturer="Remote Pointer" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Remote Pointer is already installed."
                  Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Remote Pointer" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Remote Pointer" />
    </StandardDirectory>

    <Files Directory="INSTALLFOLDER" Include="!(bindpath.ClientPublish)\**">
      <Exclude Files="!(bindpath.ClientPublish)\RemotePointer.Client.exe" />
      <Exclude Files="!(bindpath.ClientPublish)\**\*.pdb" />
    </Files>

    <Component Id="ClientExecutableComponent" Directory="INSTALLFOLDER">
      <File Id="ClientExecutable"
            Source="!(bindpath.ClientPublish)\RemotePointer.Client.exe"
            KeyPath="yes">
        <Shortcut Id="RemotePointerStartMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="Remote Pointer"
                  Description="Point at another screen or receive remote pointers"
                  Advertise="yes"
                  WorkingDirectory="INSTALLFOLDER" />
      </File>
      <RemoveFolder Id="RemoveApplicationProgramsFolder"
                    Directory="ApplicationProgramsFolder"
                    On="uninstall" />
    </Component>
  </Package>
</Wix>
